#product-bijia .product-list-title > ul {
  overflow: hidden;
}
#product-bijia .product-list-title > ul li {
  float: left;
}
#product-bijia .product-list-title > ul li:last-child {
  float: right;
  display: inline-block;
  height: 28px;
  background-color: #d0d0d0;
  border-bottom: 1px solid #bababa;
  box-shadow: 0 1px 2px #888;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  overflow: hidden;
  border: none;
  padding: 0 16px;
  margin-top: 4px;
  margin-right: 8px;
}
#product-bijia .product-com-title {
  width: 100%;
  text-align: center;
  height: 20px;
  line-height: 20px;
  background: #cccccc;
  font-size: 18px;
  color: #333;
}
#product-bijia .product-bijia {
  text-align: center;
}
#product-bijia .product-collect {
  position: relative;
}
#product-bijia .product-collect a {
  position: absolute;
  right: 35px;
  top: -50px;
}
#product-bijia #review ul > li {
  margin-bottom: 50px;
}
#product-bijia #review ul > li .clearfix {
  font-size: 12px;
  color: #c4c4c4;
}
#product-bijia #review ul > li .com-content {
  font-size: 16px;
  color: #333;
}
