.hide {
  display: none;
}
body {
  background-color: #F4F4F4;
}
#header {
  padding: 0 1.5625rem;
  position: relative;
}
#header .back {
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  left: 0;
  top: -10px;
  text-align: center;
  font-size: 50px;
  color: #FFFFFF;
}
#header h1 {
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: #FFFFFF;
}
#nav {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #cccccc;
}
#nav > ul {
  overflow: hidden;
}
#nav > ul > li {
  float: left;
  width: 30%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  cursor: pointer;
}
#nav .ul {
  width: 100%;
  position: absolute;
  left: 0;
  top: 40px;
  box-shadow: 1px 2px 1px 1px #cccccc;
}
#nav .ul li {
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 16px;
  width: 100%;
  text-align: left;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #cccccc;
  background-color: #fff;
}
#nav #img {
  width: 40px;
  height: 40px;
  background: url("../images/sousuo1.png");
  background-size: 100% 100%;
  position: absolute;
  right: 0;
  top: 0;
}
