.header {
  padding: 0 1.5625rem;
  position: relative;
}
.header .back {
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  left: 0;
  top: -10px;
  text-align: center;
  font-size: 50px;
  color: #FFFFFF;
}
.header h1 {
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: #FFFFFF;
}
#sitenav > ul {
  display: block;
  margin: 10px auto;
  width: 300px;
  overflow: hidden;
}
#sitenav > ul > li {
  float: left;
  display: block;
  border: 1px solid #bfbfbf;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  margin: 5px;
  background-color: #F4F4F4;
}
#sitenav > ul > li > a {
  font-size: 16px;
  color: #333;
}
#sitenav > ul > li > a > img {
  margin-right: 5px;
}
